<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <script
      type="text/javascript"
      language="javascript"
      src="{{ url_for('static', filename='editor-molecules/node_modules/jsme-editor/jsme.nocache.js') }}"
    ></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}" defer></script>
    <title>MolDescriptor</title>
  </head>
<body>
    <div class="top-bar">
        <div class="logo">
            <a class="title-link" href="{{ url_for('index') }}">MolDescriptor</a>
        </div>
        <div class="links">
            <a href="{{ url_for('feedback') }}" class="feedback-link">FEEDBACK</a>
            <a href="https://moldescriptor.github.io/moldescriptor-docs/" class="docs-link" target="_blank">DOCS</a>
            <a href="{{ url_for('about') }}" class="about-link">ABOUT</a>
        </div>
    </div>
    <div class="form-container">
        <h1 class="subheader">
            <span class="mol">Mol</span><span class="descriptor">Descriptor</span>
        </h1>
        <div class="app-description">
            MolDescriptor is a webtool for calculating chemical descriptors from
            <a href="https://rdkit.org/docs/source/rdkit.Chem.html" class="tekst">RDKit packages</a>
            from different molecules using SMILES-strings as an input
        </div>
        <form
            action="/identify_molecule"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="input-container">
                <input
                    type="text"
                    id="smiles"
                    name="inputField"
                    placeholder="Type your molecule's SMILES here (e.g., n1ccccc1)"
                    required
                />
                <input type="submit" value="Get Result" />
            </div>
            <div class="button-group">
                <label for="csvFileUpload" class="file-upload-label">Upload CSV</label>
                <input
                    type="file"
                    id="csvFileUpload"
                    name="csvFile"
                    accept=".csv"
                    onchange="this.form.submit()"
                />
                <button
                    type="button"
                    class="draw-button"
                    onclick="openMoleculeDrawer()"
                >
                    Draw Molecules
                </button>
                <label class="tanimoto-label">
                    <input type="checkbox" name="calculateTanimoto" value="true" />
                    Calculate Tanimoto Similarity
                </label>
                <label class="charge-button">
                    <input type="checkbox" name="chargeSmiles" value="true" onchange="togglePhInputs(this.checked)" />
                    Charge SMILES with pH
                </label>
            </div>

            <div id="phInputs" style="display: none;">
                <div class="ph-input-row">
                    <label for="phValue">pH Value:</label>
                    <input type="number" id="phValue" name="phValue" min="0" max="14" step="0.1" value="7.0" />
                </div>
                <div class="ph-input-row">
                    <label for="phRange">pH Range:</label>
                    <input type="number" id="phRange" name="phRange" min="0" max="14" step="0.1" value="1.0" />
                </div>
            </div>
            

            <div
                id="jsme_container"
                style="display: none; width: 380px; height: 340px; margin: auto"
            ></div>

            <div class="tab" onclick="showTab(event, 'common-descriptors')">
                Common Descriptors
            </div>
            <div id="common-descriptors" class="tab-content" style="display: none">
                <div class="select-all-container">
                    <button
                        type="button"
                        id="selectAllButton"
                        onclick="toggleSelectDeselect()"
                    >
                        Select All
                    </button>
                </div>
                <div class="checkbox-container">
                    <label><input type="checkbox" name="displayOptions" value="MolWt" /> Molecular Weight</label>
                    <label><input type="checkbox" name="displayOptions" value="MolLogP" /> LogP</label>
                    <label><input type="checkbox" name="displayOptions" value="NumHDonors" /> Number of Hydrogen Bond Donors</label>
                    <label><input type="checkbox" name="displayOptions" value="NumHAcceptors" /> Number of Hydrogen Bond Acceptors</label>
                    <label><input type="checkbox" name="displayOptions" value="TPSA" /> Topological Polar Surface Area</label>
                    <label><input type="checkbox" name="displayOptions" value="NumRotatableBonds" /> Number of Rotatable Bonds</label>
                    <label><input type="checkbox" name="displayOptions" value="FractionCSP3" /> Fractional Polar Surface Area</label>
                    <label><input type="checkbox" name="displayOptions" value="NumAromaticRings" /> Number of Aromatic Rings</label>
                    <label><input type="checkbox" name="displayOptions" value="NumAliphaticRings" /> Number of Aliphatic Rings</label>
                    <label><input type="checkbox" name="displayOptions" value="NumSaturatedRings" /> Number of Saturated Rings</label>
                    <label><input type="checkbox" name="displayOptions" value="NumHeteroatoms" /> Number of Heteroatoms</label>
                    <label><input type="checkbox" name="displayOptions" value="NumNitrogens" /> Number of Nitrogen Atoms</label>
                    <label><input type="checkbox" name="displayOptions" value="NumOxygens" /> Number of Oxygen Atoms</label>
                </div>
            </div>

            <div class="tabs">
                <ul class="tab-list">
                    <div class="tab active" onclick="showTab(event, 'search-tab')">
                        Search descriptors
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-chem')">
                        RDKit Chem
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-descriptor3d')">
                        RDKit Descriptor3D
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-rdmoldescriptors')">
                        RDKit rdMolDescriptors
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-Lipinski')">
                        RDKit Lipinski
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-Crippen')">
                        RDKit Crippen
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-QED')">
                        RDKit QED
                    </div>
                    <div class="tab" onclick="showTab(event, 'rdkit-rdFreeSASA')">
                        RDKit rdFreeSASA
                    </div>
                </ul>
            </div>

            <div class="tab-contents">
                <div id="search-tab" class="tab-content" style="display: block">
                    <p class="search-description">
                        Descriptor names need to match the ones which can be found in the
                        official RDKit documentation. A comprehensive list of available
                        descriptors and how they work can be found
                        <a href="https://rdkit.org/docs/source/rdkit.Chem.html" class="tekst">here</a>.
                    </p>
                    <input
                        type="text"
                        id="searchBar"
                        placeholder="Search descriptors..."
                        onkeyup="filterDescriptors()"
                    />
                    <div id="searchResults" class="checkbox-container"></div>
                </div>
                <!-- RDKit Chem Tab Content -->
                <div class="special-checkbox">
                    <label><input type="checkbox" name="excludeInvalid" value="true" checked /> Exclude Invalid SMILES from result</label>
                    <label><input type="checkbox" name="displayOptions" value="Image" checked /> Display Molecule</label>
                </div>
                <div id="rdkit-chem" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.chem %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-descriptor3d" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.descriptor3d %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-rdmoldescriptors" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.rdmoldescriptors %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-Lipinski" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.lipinski %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-Crippen" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.crippen %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-QED" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.qed %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div id="rdkit-rdFreeSASA" class="tab-content" style="display: none">
                    <div class="checkbox-container">
                        {% for descriptor_name in all_descriptors.rdfreesasa %}
                        <label><input type="checkbox" name="displayOptions" value="{{ descriptor_name }}" /> {{ descriptor_name }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>

        {% if charge_smiles_selected and results %}
            <h2>Charged SMILES:</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Original SMILES</th>
                        <th>Charged SMILES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        {% set charged_smiles_str = ', '.join(result['Charged_SMILES_List']) %}
                        <tr>
                            <td>{{ result['Original_SMILES'] }}</td>
                            <td>{{ charged_smiles_str }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if descriptors_list %}
        <h2>Descriptors:</h2>
        {% for descriptors in descriptors_list %}
            <h3>SMILES: {{ descriptors['SMILES'] }}</h3>
            <table border="1">
                <thead>
                    <tr>
                        <th>Descriptor</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in descriptors.items() %}
                        {% if key != 'SMILES' %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>
                                    {% if key == "Image" %}
                                        <img src="data:image/png;base64,{{ value }}" alt="Molecule Image" width="200" />
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <a href="{{ url_for('index') }}" class="refreshButton">Clear</a>
    {% endif %}

        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}

        <!-- Display Tanimoto similarity scores if present -->
        {% if tanimoto_scores %}
        <h2>Tanimoto Similarity Scores:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Template SMILES</th>
                    <th>Comparison SMILES</th>
                    <th>Tanimoto Score</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tanimoto_scores %}
                <tr>
                    <td>{{ item.template_smile }}</td>
                    <td>{{ item.comparison_smile }}</td>
                    <td>{{ item.tanimoto_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="refreshButton">Clear</a>

        <!-- Download CSV button for Tanimoto scores -->
        <div class="download-csv-container" style="text-align: center; margin-top: 20px">
            <form action="/download_tanimoto_csv" method="post">
                <input type="hidden" name="tanimoto_scores" value='{{ tanimoto_scores | tojson }}' />
                <input type="submit" value="Download CSV" class="draw-button" />
            </form>
        </div>
        {% endif %}

    </div>
    <div class="rdkit-badge">
        <a href="https://www.rdkit.org/">
            <img
                alt="Powered by RDKit"
                src="https://img.shields.io/badge/Powered%20by-RDKit-3838ff.svg?logo=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAFVBMVEXc3NwUFP8UPP9kZP+MjP+0tP////9ZXZotAAAAAXRSTlMAQObYZgAAAAFiS0dEBmFmuH0AAAAHdElNRQfmAwsPGi+MyC9RAAAAQElEQVQI12NgQABGQUEBMENISUkRLKBsbGwEEhIyBgJFsICLC0iIUdnExcUZwnANQWfApKCK4doRBsKtQFgKAQC5Ww1JEHSEkAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wMy0xMVQxNToyNjo0NyswMDowMDzr2J4AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDMtMTFUMTU6MjY6NDcrMDA6MDBNtmAiAAAAAElFTkSuQmCC"
            />
        </a>
    </div>

    <script type="text/javascript">
        var descriptorsAndSynonyms = JSON.parse(`{{ descriptorsAndSynonyms | safe | default('{}') }}`);
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script type="text/javascript">
        function togglePhInputs(isChecked) {
            var phInputs = document.getElementById('phInputs');
            phInputs.style.display = isChecked ? 'block' : 'none';
        }
    </script>
    
</body>
</html>
